# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# OS
.DS_Store

# Go binaries and coverage
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.txt
dist/
bin/

# SQLite databases
*.db
*.db-wal
*.db-shm
*.db-journal
*.sqlite
*.sqlite3
*.db3
