# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# OS and Editors
.DS_Store
.idea/
.vscode/
*.swp
*~

# Go binaries, coverage, and profiling
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
cpu.pprof
mem.pprof
coverage.txt
dist/
bin/

# SQLite databases and journals
*.db
*.db-*
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.db3
*.db3-*

# PostgreSQL dumps and logs
*.sql.dump
*.dump
*.pgdump
*.log
